<h1>Articles#index</h1>
<p>Find me in app/views/articles/index.html.erb</p>

<div class="botton">クリック!</div>
<div class="box1">
  メニュー表示部分です。
</div>

<div class="wrap-tab">
  <div class="tab">
    果物
  </div>
  <div class="tab">
    野菜
  </div>
  <div class="tab">
    魚
  </div>
</div>
<div class="box active">
  リンゴ・モモ・パイナップル
</div>
<div class="box">
  レタス・ニンジン・ホウレンソウ
</div>
<div class="box">
  イワシ・サンマ・カツオ
</div>
